html{height:100%;color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{*font-size:100%;} button { background: none; border: none; margin: 0; padding: 0; width: auto; overflow: visible; line-height:inherit;}button::-moz-focus-inner{padding:0;border:0;}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
	font-family:"Karmilla", arial, sans-serif;
	margin:0;
}
header{
	position:fixed;
	top:0px;
	left:0px;
	z-index:5;
	width:150px;
	background:#DDE0E3;
}
.titles{
	margin:10px;
}
header #viewbox{
	clear:both;
	position:relative;
}
body.textboxes #viewbox, body.textboxes #tree{
	visibility:hidden;
}
body.textboxes{
	overflow-y:hidden;
}
.caption{
	font-family:"source_code_pro", courier new, monospace;
	font-size:13px;
	list-style-type:none;
	line-height:16px;
	margin:10px 0 0 0;
	padding:7px 9px 12px 9px;
	border:1px solid black;
}
#tree{
	margin:50px 0 0 200px;
}
#textboxes{
	display:none;
	position:fixed;
	overflow-y:scroll;
	padding:0px 0 0 200px;
	margin:0 0 50px 0;
	top:0px;
	left:0px;
	width:100%;
	background:gold;
	z-index:3;
	background:white;	
}
div.textbox{
	width:100%;
	max-width:550px;
}
footer{
}
.vbox{
	width:200px;
	margin:100px 100px 100px 0;
}
.vbox img{
	display:block;
    cursor:pointer;
	width:200px;
	height:300px;
	background:#DDE0E3 url(img/wait.png) no-repeat center center;
	font-family:"source_code_pro", courier new, monospace;
	font-size:12px;
	color:#777;
}
.vbox.branch1{
	position:relative;
	left:35%;
	margin:0 0 -300px 0;
}
.vbox .visit a{
	background:#FFFDD6;
}
._jsPlumb_connector {
	z-index:1;
}
.frame{
	position:fixed;
	top:0;
	left:150px;
}
.olive-large:after{
	content:"✕";
	position:absolute;
	right:4px;
	top:4px;
    background:white;
	font-size:40px;
	line-height:25px;
	cursor:pointer;
}
/* Fake Radio in header */
header button.textboxes{
	font-size:17px;
	display:block;
	float:left;
	height:20px;
	margin:10px 0 15px;
	font-weight:bold;
	cursor:pointer;
	position:relative;
}
header button.textboxes:hover{
	color:#777;
}
header button.textboxes:before{
	content:"";
	background:white;
	border:3px solid white;
	width:7px;
	height:7px;
	margin:4px 6px 0 0;
	display:block;
	float:left;
}
body.textboxes header button.textboxes:before{
	background:#333;
}
#viewbox:after{
	color: #888;
	content: "▲ ' t i m e";
	display: block;
	font-family: "source_code_pro",courier new,monospace;
	font-size: 10px;
	font-weight:bold;
	line-height: 10px;
	position: absolute;
	left: 6px;
	bottom: 15px;
	text-transform: uppercase;
	width: 8px;
	z-index: 300;
}
/* Typography */
body{
	font-size:16px;
}
h1{
	font-size:18px;
}
header h2{
	font-size:12px;
	margin:0;
	font-weight:normal;
	font-family:"source_code_pro", courier new, monospace;
	line-height:13px;
}
h1, h2, h3, h4{
	font-weight:bold;
	margin:20px 0 2px 0;
}
p{
	margin:0 0 10px 0;
}
a:hover{
	color:#555;
	text-decoration:none;
}
a, a:active{
	color:black;
}
pre{
	font-family:"source_code_pro", courier new, monospace;
	font-size:15px;
	line-height:21px;
	letter-spacing:1px;
}
.readme ol,.readme ul{
	list-style-type:decimal;
	padding:0 0 0 40px;
	margin:0 0 10px 0;
}
.piece pre{
	background:#FBFAD9;
	white-space: pre-wrap;
	line-height: 1.4em;
	padding:7px 10px;
}

/* Fonts */

@font-face {
	font-family: 'AnkaHackerRegular';
	src: url('font/ankahacker-r.eot');
	src: url('font/ankahacker-r.eot?#iefix') format('embedded-opentype'),
		url('font/ankahacker-r.woff') format('woff'),
		url('font/ankahacker-r.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'karmilla';
	src: url('font/karmilla-regular-009-webfont.eot');
	src: url('font/karmilla-regular-009-webfont.eot?#iefix') format('embedded-opentype'),
		url('font/karmilla-regular-009-webfont.woff') format('woff'),
		url('font/karmilla-regular-009-webfont.ttf') format('truetype'),
		url('font/karmilla-regular-009-webfont.svg#karmillaregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'karmilla';
	src: url('font/karmilla-bold-009-webfont.eot');
	src: url('font/karmilla-bold-009-webfont.eot?#iefix') format('embedded-opentype'),
		url('font/karmilla-bold-009-webfont.woff') format('woff'),
		url('font/karmilla-bold-009-webfont.ttf') format('truetype'),
		url('font/karmilla-bold-009-webfont.svg#karmillabold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'source_code_pro';
	src: url('font/sourcecodepro-regular-webfont.eot');
	src: url('font/sourcecodepro-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('font/sourcecodepro-regular-webfont.woff') format('woff'),
		url('font/sourcecodepro-regular-webfont.ttf') format('truetype'),
		url('font/sourcecodepro-regular-webfont.svg#source_code_proregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'source_code_pro';
	src: url('sourcecodepro-semibold-webfont.eot');
	src: url('sourcecodepro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
		url('font/sourcecodepro-semibold-webfont.woff') format('woff'),
		url('font/sourcecodepro-semibold-webfont.ttf') format('truetype'),
		url('font/sourcecodepro-semibold-webfont.svg#source_code_prosemibold') format('svg');
	font-weight: bold;
	font-style: normal;
}